@Model List<User>

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <script>
        var users = @Html.Raw(Json.Encode(Model));

        function fetchUser() {
            var userIdInput = document.getElementById("userIdInput").value;
            var userDetails = document.getElementById("userDetails");
            var foundUser = null;

            for (var i = 0; i < users.length; i++) {
                var user = users[i];

                if (user.NationalNumber === Number(userIdInput)) {
                    foundUser = user;
                    break; 
                }
            }

            if (foundUser) {
                userDetails.innerHTML = `<p>User Name: ${foundUser.Username} - 
                Avg Salary: ${foundUser.AvgSalary} - User Salary Status: ${foundUser.UserSalaryStatus} 
                - Largest Salary: ${foundUser.LargestSalary}</p>`;
            } else {
                //console.log("I entered out of for loop here");
                userDetails.innerHTML = "<p>No data found for the provided user ID.</p>";
            }
        }
    </script>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <p>This is a simple MVC application, which fetches data using API, that built locally.</p>

    <h2>Enter User National Number:</h2>
    <input type="number" id="userIdInput" min="1">
    <button id="fetchButton" onclick="fetchUser()">Fetch User</button>
   
    <h2>Fetched User:</h2>
    <div id="userDetails">
        
    </div>

    <h2>All Users:</h2>
    <ul>
        @{
            foreach (var user in Model)
            {
                <li>@user.Username - @user.NationalNumber</li>
            }
        }
    </ul>
</body>
</html>
